@font-face {
	font-family: 'Bodoni';
	src: url('../font/LibreBodoni-VariableFont_wght.ttf');
}
.Summonx1 {
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-family: 'Bodoni';
	font-size: 1.5vw;
	border: none;
	background-color: white;
	background-image: url('../img/b_btn_000.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 14.25%;
	height: 7%;
	transition-duration: 0.2s;
}
.Summonx1:hover {
	filter: brightness(90%);
}
.Summonx1:active {
	filter: brightness(75%);
}
.Summonx10 {
	text-align: center;
	text-decoration: none;
	font-size: 1.5vw;
	font-family: 'Bodoni';
	border: none;
	background-color: transparent;
	background-image: url('../img/b_btn_001.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 14.25%;
	height: 7%;
	transition-duration: 0.2s;
}
.Summonx10:hover {
	filter: brightness(90%);
}
.Summonx10:active {
	filter: brightness(75%);
}
.CharacterResult {
	margin-left: 29%;
	margin-right: 29%;
	height: 75%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-around;
}
.CharacterSlot {
	filter: brightness(100%);
	width: 17%;
}
.CharacterSlot:hover {
	filter: brightness(105%);
}
body {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-family: 'Bodoni';
	font-size: 1.5vw;
}
.day {
	background-image: url(../img/mainsceneswitch_mask.png), url(../img/mainsceneswitch_randombg01.png);
}
.evening {
	background-image: url(../img/mainsceneswitch_mask.png), url(../img/mainsceneswitch_randombg02.png);
}
.night {
	background-image: url(../img/mainsceneswitch_mask.png), url(../img/mainsceneswitch_randombg03.png);
}